/* CodeEditor.css */
.monaco-editor {
    border: 1px solid #ccc; /* Adds a border around the editor */
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  }
  
  .monaco-editor .focus {
    border: 2px solid #006aff; /* Customize border on focus */
  }
  

  .code-editor-container {
    max-width: 800px;
    margin: auto;
  }
  